{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ page }} {{ hashtag_post|upper }} {{ post_id }}{% endblock %}
{% block data %}
    <div style="display:none" id="data_post" hashtag_post="{{ hashtag_post }}" post_id="{{ post_id }}"
    ></div>
{% endblock data %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
{% block noidung %}
    {% if posts %}
        {% for i in posts %}
            <div class="baidang mb-5">
                <div class="post_thongtin">
                    {% if i.avatar %}
                        <img src="/media/{{ i.avatar }}" class="post_avatar"
                             alt="{{ i.avatar }}" alt="">
                    {% else %}
                        <img src="{% static 'user/images/avatar.png' %}" class="post_avatar"
                             alt="avatar">
                    {% endif %}
                    <div>
                        <div>
                            <a class="post_name" href="{% url 'user:profile' i.username %}">
                                {{ i.first_name }} {{ i.last_name }}
                            </a>
                            <label class="post_feeling"><i
                                    class="fas fa-check-circle"></i> {{ i.feeling }}</label>
                        </div>
                        <div>
                            <a class="post_time" href="{% url 'post:ShowPost' i.post %}">{{ i.created_at }}</a>
                            <label class="post_public"><i
                                    class="fas fa-globe-europe"> </i> {{ i.public }}</label>
                        </div>
                    </div>
                    {% if i.user == user.id %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end  dropdown-menu-dark "
                                aria-labelledby="dropdownMenuButton">
                                <a style="color:#ffffff" href="{% url 'post:edit' i.post %}">
                                    <li>Chỉnh sửa bài viết</li>
                                </a>
                                <a style="color:#ffffff" href="{% url 'post:delete_post' i.post %}">
                                    <li>Xóa bài viết này</li>
                                </a>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="post_content">{{ i.content }}</div>
                <a class="post_hashtag" href="{% url 'post:api_hashtag_post' i.hashtag %}">
                    <i class="fas fa-hashtag"></i>{{ i.hashtag }} </a>
                {% if i.photo %}
                    <img src="/media/{{ i.photo }}" class="post_image"
                         alt="{{ i.photo }}">
                {% endif %}

                <input type="text" v-model="comment[{{ forloop.counter0 }}]"
                       @keyup.enter="comment_func({{ i.post }},{{ forloop.counter0 }})"
                       class="col-12 px-4 py-2 cmt_input"
                       placeholder="Để lại bình luận của bạn">

                <div class="comment container row p-2 my-3 mx-3 col-11" v-if="comment_data[{{ forloop.counter0 }}]"
                     v-for="key in comment_data[{{ forloop.counter0 }}]" :key="key.comment">
                    <div class="col-12">
                        <a class="comment_name" :href="domain + `/profile/${ key.username}`">
                            [[key.first_name + " " +key.last_name]]</a>
                        <small class="mx-3"><i class="far fa-clock"></i> [[key.created_at]]</small>
                        <i v-if="user_id == key.id " @click="comment_delete_func({{ i.post }},key.comment,i)"
                           class="fas fa-trash-alt remove_cmt"></i>
                    </div>
                    <div class="col-12 content_cmt">[[key.content]]</div>
                </div>
                <div class="show_cmt mt-3 mx-3 col-12" @click="comment_show_func({{ i.post }},{{ forloop.counter0 }})">
                    <i class="fas fa-share"></i> Hiển thị bình luận
                </div>
            </div>

        {% endfor %}
    {% else %}
        <div class="user_follow">
            <h3>Hi {{ user.last_name }}, có vẻ như dữ liệu mà bạn yêu cầu đã không còn tồn tại nữa. </h3>
            <hr>
            <a style="text-align: center" href="{% url 'home:home' %}">
                <h5><i class="fas fa-home "></i>&ensp; Trở lại trang chính</h5>
            </a>
            <hr>
        </div>
    {% endif %}
    <h5 style="color:#f5f5f5;">Hi {{ user.last_name }} ! Không còn bài viết nào khác hãy theo dõi
        mọi người để tiếp
        cận thêm nhiều bài viết nữa</h5>
{% endblock noidung %}
