{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu cho {{ email }}</title>
    <link rel="icon" href="{% static 'images/shili.png' %}" type="image/gif">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">

</head>
<body>
<div class="container">
    <div class="row container col-8 m-auto mt-5">
        <h2 >Xin chào! {{ email }} ! <br>bạn đang ở trang đặt lại mật khẩu</h2>
        <form action="{% url 'home:resetpassword' key ban_ma %}" enctype="multipart/form-data" method="post"
              class="row g-3">
            {% csrf_token %}

            <div class="col-md-12">
                <label for="validationCustom01" class="form-label">Mật khẩu mới</label>
                <input type="password" name="password1" value="{{ check.mk1 }}" placeholder="Mật khẩu mới"
                       class="form-control" required>
                {% if check.domanhMK == False %}
                    <ul class="mt-3" style="color:#d63e3e">
                        <li>
                            Mật khẩu phải dài hơn 8 kí tự
                        </li>
                        <li>
                            Mật khẩu phải bao gồm số, chữ thường
                        </li>
                        <li>
                            Mật khẩu phải có kí tự in hoa
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12">
                <label for="validationCustom02" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" name="password2" value="{{ check.mk2 }}" placeholder="Nhập lại mật khẩu "
                       class="form-control"
                       id="validationCustom02" required>
                {% if check.khopMK == False %}
                    <div class="mt-3" style="color:#d63e3e">
                        Mật khẩu này không trùng khớp với mật khẩu phía trên
                    </div>
                {% endif %}
                <div class="invalid-feedback">
                </div>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Đồng ý thay đổi mật khẩu
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn-grad" type="submit">Thay đổi mật khẩu</button>
            </div>
        </form>
        {% if check.true == True %}
            <div class="alert mt-5  alert-success " role="alert">
                Thay đổi thành công mật khẩu.
                <a href="{% url 'home:home' %}">Đăng nhập ngay</a>
            </div>
        {% endif %}
        <a href="{% url 'home:home' %}">Trở về trang chủ</a>
    </div>

</div>

</body>
</html>
